.collections_container {
  position: relative;
  top: 2.22em;
  width: 10px;
}

.left_line {
  position: relative;
  top: 0.8em;
  left: 1em;
  border: 1px solid black;
  width: 55px;
}

.collections {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 222px;
  top: 0.1em;
  left: 5.2em;
}

.right_line {
  position: relative;
  bottom: 1em;
  left: 18.7em;
  border: 1px solid black;
  width: 55px;
}

#card {
  position: relative;
  right: 2.3rem;
  border: 1px solid white;
  background-color: white;
  width: 23rem;
  height: 35rem;
  margin: 50px;
}

.card-title {
  position: relative;
  right: 1em;
  font-family: 'Unbounded', cursive;
  font-size: 1em;
  font-weight: bold;
}

.card-description {
  position: relative;
  right: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.price {
  position: relative;
  right: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#addToCart_Button {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  left: 3em;
  bottom: 4.1em;
  color: #000;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
}

#addToCart_Button:hover {
  color: white;
  background-color: black;
}

#saveForLater_Button {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  left: 12em;
  bottom: 8.6em;
  color: black;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
}

#saveForLater_Button:hover {
  color: white;
  background-color: black;
}

#checkbox, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6,
#checkbox7, #checkbox8, #checkbox9, #checkbox10, #checkbox11, #checkbox12,
#checkbox13, #checkbox14, #checkbox15, #checkbox16, #checkbox17, #checkbox18 {
  display: none;
}

#heart-svg {
  position: absolute;
  left: 15.4em;
  top: 23em;
  width: 8%;
  height: 8%;
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

#heart-svg #heart {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: animateHeartOut .3s linear forwards;
          animation: animateHeartOut .3s linear forwards;
}

#count {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  bottom: 18.8em;
  left: 17em;
}

#checkbox:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox2:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox3:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox4:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox5:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox6:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox7:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox8:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox9:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox10:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox11:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox12:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox13:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox14:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox15:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox16:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox17:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

#checkbox18:checked + label svg #heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #ffffff;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linejoin: round;
}

@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.alertbox {
  border: 3px solid black;
  background-color: #000000;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  -webkit-box-shadow: 5px 10px #ededed;
          box-shadow: 5px 10px #ededed;
  position: fixed;
  top: 8em;
  right: 2.5em;
  z-index: 5;
  width: 300px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 576px) {
  .collections_container {
    position: relative;
    top: 2.22em;
    width: 10px;
  }
  .left_line {
    position: relative;
    top: 0.8em;
    left: 6.3em;
    border: 1px solid black;
    width: 55px;
  }
  .collections {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 222px;
    top: 0.1em;
    left: 11.2em;
  }
  .right_line {
    position: relative;
    bottom: 1em;
    left: 24em;
    border: 1px solid black;
    width: 55px;
  }
  #card {
    position: relative;
    left: 3rem;
    border: 1px solid white;
    background-color: white;
    width: 23rem;
    height: 35rem;
    margin: 50px;
  }
  .card-title {
    position: relative;
    right: 1em;
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    font-weight: bold;
  }
  .card-description {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  .price {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  #addToCart_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 3em;
    bottom: 4.1em;
    color: #000;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #addToCart_Button:hover {
    color: white;
    background-color: black;
  }
  #saveForLater_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 2em;
    bottom: 4em;
    color: black;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #saveForLater_Button:hover {
    color: white;
    background-color: black;
  }
  #checkbox, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6,
  #checkbox7, #checkbox8, #checkbox9, #checkbox10, #checkbox11, #checkbox12,
  #checkbox13, #checkbox14, #checkbox15, #checkbox16, #checkbox17, #checkbox18 {
    display: none;
  }
  #heart-svg {
    position: absolute;
    left: 15.4em;
    top: 23em;
    width: 8%;
    height: 8%;
    cursor: pointer;
    overflow: visible;
    width: 60px;
  }
  #heart-svg #heart {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateHeartOut .3s linear forwards;
            animation: animateHeartOut .3s linear forwards;
  }
  #count {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    bottom: 15em;
    left: 17em;
  }
  #checkbox:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox2:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox3:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox4:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox5:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox6:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox7:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox8:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox9:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox10:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox11:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox12:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox13:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox14:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox15:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox16:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox17:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox18:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  @-webkit-keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .alertbox {
    border: 3px solid black;
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #ededed;
            box-shadow: 5px 10px #ededed;
    position: fixed;
    top: 8em;
    right: 10em;
    z-index: 1;
    width: 300px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 768px) {
  .collections_container {
    position: relative;
    top: 2.22em;
    width: 10px;
  }
  .left_line {
    position: relative;
    top: 0.8em;
    left: 11.5em;
    border: 1px solid black;
    width: 55px;
  }
  .collections {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 222px;
    top: 0.1em;
    left: 16.2em;
  }
  .right_line {
    position: relative;
    bottom: 1em;
    left: 29em;
    border: 1px solid black;
    width: 55px;
  }
  #card {
    position: relative;
    left: 8.2rem;
    border: 1px solid white;
    background-color: white;
    width: 23rem;
    height: 35rem;
    margin: 50px;
  }
  .card-title {
    position: relative;
    right: 1em;
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    font-weight: bold;
  }
  .card-description {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  .price {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  #addToCart_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 3em;
    bottom: 4.1em;
    color: #000;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #addToCart_Button:hover {
    color: white;
    background-color: black;
  }
  #saveForLater_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 2em;
    bottom: 4em;
    color: black;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #saveForLater_Button:hover {
    color: white;
    background-color: black;
  }
  #checkbox, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6,
  #checkbox7, #checkbox8, #checkbox9, #checkbox10, #checkbox11, #checkbox12,
  #checkbox13, #checkbox14, #checkbox15, #checkbox16, #checkbox17, #checkbox18 {
    display: none;
  }
  #heart-svg {
    position: absolute;
    left: 15.4em;
    top: 23em;
    width: 8%;
    height: 8%;
    cursor: pointer;
    overflow: visible;
    width: 60px;
  }
  #heart-svg #heart {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateHeartOut .3s linear forwards;
            animation: animateHeartOut .3s linear forwards;
  }
  #count {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    bottom: 15em;
    left: 17em;
  }
  #checkbox:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox2:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox3:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox4:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox5:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox6:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox7:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox8:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox9:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox10:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox11:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox12:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox13:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox14:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox15:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox16:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox17:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox18:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  @-webkit-keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .alertbox {
    border: 3px solid black;
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #ededed;
            box-shadow: 5px 10px #ededed;
    position: fixed;
    top: 8em;
    right: 14em;
    z-index: 1;
    width: 300px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 992px) {
  .collections_container {
    position: relative;
    top: 2.22em;
    width: 10px;
  }
  .left_line {
    position: relative;
    top: 0.9em;
    left: 8em;
    border: 1px solid black;
    width: 188px;
  }
  .collections {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: 282px;
    top: 0.1em;
    left: 14.7em;
  }
  .right_line {
    position: relative;
    bottom: 1.3em;
    left: 41.4em;
    border: 1px solid black;
    width: 188px;
  }
  #card {
    position: relative;
    top: 5.5em;
    left: 2rem;
    background-color: white;
    width: 23rem;
    height: 35rem;
    margin: 50px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  #card:hover {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  #print {
    cursor: pointer;
  }
  #print:hover {
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
  .card-title {
    position: relative;
    right: 1em;
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    font-weight: bold;
  }
  .card-description {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  .price {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  #addToCart_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 3em;
    bottom: 4.1em;
    color: #000;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #addToCart_Button:hover {
    color: white;
    background-color: black;
  }
  #saveForLater_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 2em;
    bottom: 4em;
    color: black;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #saveForLater_Button:hover {
    color: white;
    background-color: black;
  }
  #checkbox, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6,
  #checkbox7, #checkbox8, #checkbox9, #checkbox10, #checkbox11, #checkbox12,
  #checkbox13, #checkbox14, #checkbox15, #checkbox16, #checkbox17, #checkbox18 {
    display: none;
  }
  #heart-svg {
    position: absolute;
    left: 15.4em;
    top: 23em;
    width: 8%;
    height: 8%;
    cursor: pointer;
    overflow: visible;
    width: 60px;
  }
  #heart-svg #heart {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateHeartOut .3s linear forwards;
            animation: animateHeartOut .3s linear forwards;
  }
  #count {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    bottom: 15em;
    left: 17em;
  }
  #checkbox:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox2:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox3:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox4:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox5:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox6:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox7:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox8:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox9:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox10:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox11:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox12:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox13:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox14:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox15:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox16:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox17:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox18:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  @-webkit-keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .alertbox {
    border: 3px solid black;
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #dedede;
            box-shadow: 5px 10px #dedede;
    position: fixed;
    top: 18em;
    right: 40em;
    z-index: 1;
    width: 300px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .collections_container {
    position: relative;
    top: 2.22em;
    width: 10px;
  }
  .left_line {
    position: relative;
    top: 0.9em;
    left: 17em;
    border: 1px solid black;
    width: 188px;
  }
  .collections {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: 282px;
    top: 0.1em;
    left: 20.5em;
  }
  .right_line {
    position: relative;
    bottom: 1.3em;
    left: 50em;
    border: 1px solid black;
    width: 188px;
  }
  #card {
    position: relative;
    top: 5.5em;
    left: 1.8rem;
    background-color: white;
    width: 24rem;
    height: 37rem;
    margin: 10px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  #card:hover {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .card-title {
    position: relative;
    right: 1em;
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    font-weight: bold;
  }
  .card-description {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  .price {
    position: relative;
    right: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  #addToCart_Button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 7.7em;
    bottom: 4.44em;
    color: #000;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #addToCart_Button:hover {
    color: white;
    background-color: black;
  }
  #saveForLater_Button {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    left: 17em;
    width: 105px;
    bottom: 1.1em;
    color: black;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
  }
  #saveForLater_Button:hover {
    color: white;
    background-color: black;
  }
  #print {
    cursor: pointer;
  }
  #print:hover {
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
  .card-body {
    height: 88px;
  }
  #checkbox, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6,
  #checkbox7, #checkbox8, #checkbox9, #checkbox10, #checkbox11, #checkbox12,
  #checkbox13, #checkbox14, #checkbox15, #checkbox16, #checkbox17, #checkbox18 {
    display: none;
  }
  #heart-svg {
    position: absolute;
    left: 17em;
    top: 24em;
    width: 8%;
    height: 8%;
    cursor: pointer;
    overflow: visible;
    width: 60px;
  }
  #heart-svg #heart {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateHeartOut .3s linear forwards;
            animation: animateHeartOut .3s linear forwards;
  }
  #count {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    bottom: 15.2em;
    left: 18.5em;
  }
  #checkbox:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox2:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox3:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox4:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox5:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox6:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox7:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox8:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox9:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox10:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox11:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox12:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox13:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox14:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox15:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox16:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox17:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  #checkbox18:checked + label svg #heart {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    fill: #ffffff;
    -webkit-animation: animateHeart .3s linear forwards .25s;
            animation: animateHeart .3s linear forwards .25s;
  }
  path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  @-webkit-keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    40% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .alertbox {
    border: 3px solid black;
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #dedede;
            box-shadow: 5px 10px #dedede;
    position: fixed;
    top: 18em;
    right: 55em;
    z-index: 1;
    width: 300px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
/*# sourceMappingURL=Row1.css.map */